.idea/
.vscode/

**/__pycache__/
**/*.pyc  
**/*.pyo
**/*.pyd

.venv
.venv/
env/
.env
*venv*/*
linux_venv/
.venv*/

**/model_store/*
!**/model_store/.gitkeep

**/outputs/*
!**/outputs/.gitkeep

**/wandb/*




